/*  */
/*  */

body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.list {
  min-width: 400px;
  padding: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  list-style: none;
}

.list li {
  margin-bottom: 25px;
}

.list li a {
  text-decoration: none;
}

@media (max-width: 500px) {
  .list {
  }
}
